<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/participants.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Mobile Usability Evaluation Testing</title>
</head>

<body>

    <div class="Container-fluid">
        <div class="topnav" class="row">
            <a href="/">Home</a>
            <a class="active" href="/participants">Participants</a>
            <!-- <a href="/review">Review</a> -->
        </div>
        <div style="padding-left:16px; text-align: center;" class="row">
            <p id="heading2">Participant List</p>
        </div>
        <div class="container">

            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Task</th>
                        <th>Action</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% participant_list.forEach(function(participant,i){ %>
                        <% participant.Tasks.forEach(function(task,j){ task=task.split(',')[0] %>
                            <tr>
                                <% if(j==0) {%>
                                    <td rowspan="<%=  participant.Tasks.length %>">
                                        <%= i+1 %>
                                    </td>
                                    <td rowspan="<%= participant.Tasks.length %>">
                                        <%= participant.Name %>
                                    </td>
                                    <% } %>
                                        <td>
                                            <%=task %>
                                        </td>
                                        <td>
                                            <button class="button" type="button" onclick="location.href='/record/<%= participant.Name %>/<%=obj_array[i] %>/<%=task %>/<%= j %>'">Record</button>
                                            <button class="button" type="button" onclick="location.href='/review/<%= participant.Name %>/<%=obj_array[i] %>/<%=task %>/<%= j %>'">Review</button>
                                        </td>
                                        <% if(j==0) {%>
                                            <td rowspan="<%= participant.Tasks.length %>">
                                                <button class="button" type="button" onclick="location.href='/generatepdf/<%=obj_array[i] %>/<%=i %>'">Summary</button>
                                            </td>
                                            <% }%>
                            </tr>
                            <% }); %>
                                <% }); %>


                </tbody>
            </table>
        </div>
    </div>
</body>

</html>