<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Mobile Usability Evaluation Testing</title>
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/css/participants.css">
</head>

<body>

    <div class="Container-fluid">
        <div class="topnav" class="row">
            <a href="/">Home</a>
            <a class="active" href="/participants">Participants</a>
            <!-- <a href="/review">Review</a> -->
        </div>
        <div style="padding-left:16px; text-align: center;" class="row">
            <p id="heading2">Participant List</p>
        </div>
        <div class="container">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Task</th>
                        <th>Action</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% participant_list.forEach(function(participant,i){ %>
                        <% participant.Tasks.forEach(function(task,j){ task=task.split(',')[0] %>
                            <tr>
                                <% if(j==0) {%>
                                    <td rowspan="<%=  participant.Tasks.length %>">
                                        <%= i+1 %>
                                    </td>
                                    <td rowspan="<%= participant.Tasks.length %>">
                                        <%= participant.Name %>
                                    </td>
                                    <% } %>
                                        <td>
                                            <%=task %>
                                        </td>
                                        <td>
                                        <button class="button" type="button" onclick="location.href='/record/<%= participant.Name %>/<%=obj_array[i] %>/<%=task %>/<%= j %>/<%= i %>'">Record</button>
                                        <button class="button" type="button" onclick="location.href='/review/<%= participant.Name %>/<%=obj_array[i] %>/<%=task %>/<%= j %>/<%= i %>'">Review</button>
                                    </td>
                                        <% if(j==0) {%>
                                            <td rowspan="<%= participant.Tasks.length %>">
                                                <button class="button" type="button"
                                                    onclick="location.href='/generatepdf/<%=obj_array[i] %>/<%=i %>'">Summary</button>
                                            </td>
                                            <% }%>
                            </tr>
                            <% }); %>
                                <% }); %>


                </tbody>
            </table>
            </div>
        </div>
    </div>
</body>

</html>